/* You can add global styles to this file, and also import other style files */
// vendor - Third-party
// @import 'homepage';

// Third-party

h1, h2, h3, h4, h5, h6 {
  border-bottom: none !important;
}

// ------------------------------------------------------------------------------------------


.cookieconsent-optin, .cookieconsent-optin-preferences, .cookieconsent-optin-statistics, .cookieconsent-optin-marketing {
  display: block;
  display: initial;
}
.cookieconsent-optout-preferences, .cookieconsent-optout-statistics, .cookieconsent-optout-marketing, .cookieconsent-optout {
  display: none;
}

.w-editor-publish-controls .w-editor-publish {
 display: none !important;
}

body {
//  opacity: 0;
}
body.show {
  opacity: 1;
}

.v3-link-large img {
 opacity: 0.5;
}
.v3-link-large:hover img {
  /*background-color: #f9f5f0;*/
  opacity: 1.0;
}
.v3-link-large.v3-resource-btn-selected {
  background-color: #000000;
  color: #ffffff !important;
}
.v3-link-large.v3-resource-btn-selected img {
  opacity: 1.0;
  content: url(https://assets.website-files.com/600ea824f296c05edccbc9a8/62150c147e4c5576e53e4590_arrow_white.svg);
}
.v3-link-large.v3-resource-btn-selected:hover {
  background-color: #222222;
}
.v3-free-resource-btn:hover img {
  opacity: 1.0;
}

iframe#_hjRemoteVarsFrame {
                        display: none !important;
                        width: 1px !important;
                        height: 1px !important;
                        opacity: 0 !important;
                        pointer-events: none !important;
                      }

// ------------------------------------------------------------------------------------------
//@import 'allcss/chunk.a5a13fca405a7ea84040';
//@import 'allcss/fd-messaging.ee4a89544a86fc17501a';
@import 'allcss/vendor.bd52f7d59d8335c4e4bb75788cab9d68';
@import 'allcss/www-player';
@import 'allcss/one-pager.b684cb9d7.min';
@import 'allcss/widget';
@import 'allcss/cb';


// ------------------------------------------------------------------------------------------

// ------------------------------------------------------------------------------------------

// ------------------------------------------------------------------------------------------

